# Copier ce fichier en .env et remplir les valeurs

PORT=3000

# Base de données MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=salon_rdv

# JWT
JWT_SECRET=CHANGE_MOI_secret_tres_long_et_aleatoire
JWT_EXPIRES_IN=7d
